body {
    background-color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 40% 40%;
    height: 100%
}

html {
    height: 100%;
}

.question {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    justify-items: center;
}

.answer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    text-align: center;
}

button {
    height: 20%;
    width: 15%;
    margin: 8%;
    background-color: palevioletred;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
    font-size: 18px;
}

.highlight-button {
    background-color: lightpink;
}

img {
    border-radius: 100px;
}